            body{
                max-width: 100vw;
            }
        header {
            background-color: #f07035;
            color: #fcf9f9f3;
            text-align: center;
            margin: 0 auto;
            padding: 16px;
        }

        main {
            background-color: #fdf7f7;
            color: #051220;
            margin: 0 auto;
            padding: 16px;
        }
        article{
            display: flex;
            margin: 16px;
            gap: 16px;
            padding: 16px;
            border: 4px solid rgb(211, 147, 51);
        }

        img {
            width: 80px;
            height: 80px;
        }

        .artigo-autor {
            font-weight: bold;
        }
